.upload-container {
    background-color: rgb(224, 223, 223);
    border-radius: 15px;
    height: 100px;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
